<div class="page">
    <nav class="navbar navbar-expand-lg navbar-dark bg-light justify-content-between">
        <a class="navbar-brand text-primary" href="#">Cadastro de Pessoas</a>

        <button type="button" class="btn btn-outline-primary my-2 my-sm-0" (click)="openCreatePessoa()">
            <fa-icon style="margin-right: 10px;" [icon]="faPlusCircle"></fa-icon>Adicionar
        </button>

    </nav>

    <div class="board">
        <div class="board-wrapper">
            <div class="board-columns">
                <div class="board-column  bg-primary">

                    <div class="pessoas-container">
                        <table class="table table-striped table-bordered table-sm row-border hover pessoa-table"
                            datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>E-mail</th>
                                    <th>CPF</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let pessoa of pessoas" (click)="openInfoPessoa(pessoa)">
                                    <td>{{pessoa.nome}}</td>
                                    <td>{{pessoa.email}}</td>
                                    <td>{{pessoa.cpf}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>



            </div>
        </div>
    </div>

</div>